tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
ruby
	{ruby-align:left;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	border:none;
	mso-protection:locked visible;
	mso-style-name:常规;
	mso-style-id:0;}
.style62
	{color:blue;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	mso-style-name:超链接;
	mso-style-id:8;}
a:link
	{color:blue;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;}
a:visited
	{color:purple;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font6
	{color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font9
	{color:black;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	font-size:10.0pt;}
.xl66
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-weight:700;
	text-align:center;
	background:#DBEAF4;
	mso-pattern:black none;}
.xl67
	{mso-style-parent:style0;
	font-size:10.0pt;
	background:#F0F0F0;
	mso-pattern:black none;}
.xl68
	{mso-style-parent:style62;
	color:blue;
	font-size:10.0pt;
	text-decoration:underline;
	text-underline-style:single;
	background:#F0F0F0;
	mso-pattern:black none;}
.xl69
	{mso-style-parent:style0;
	font-size:10.0pt;
	mso-number-format:"dd\/mm\/yyyy";
	background:#F0F0F0;
	mso-pattern:black none;}
.xl70
	{mso-style-parent:style0;
	font-size:10.0pt;
	mso-number-format:Fixed;
	background:#F0F0F0;
	mso-pattern:black none;}
.xl71
	{mso-style-parent:style0;
	font-size:10.0pt;
	background:white;
	mso-pattern:black none;}
.xl72
	{mso-style-parent:style62;
	color:blue;
	font-size:10.0pt;
	text-decoration:underline;
	text-underline-style:single;
	background:white;
	mso-pattern:black none;}
.xl73
	{mso-style-parent:style0;
	font-size:10.0pt;
	mso-number-format:"dd\/mm\/yyyy";
	background:white;
	mso-pattern:black none;}
.xl74
	{mso-style-parent:style0;
	font-size:10.0pt;
	mso-number-format:Fixed;
	background:white;
	mso-pattern:black none;}
.xl75
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-weight:700;
	mso-number-format:Fixed;
	background:white;
	mso-pattern:black none;}
.xl76
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-weight:700;
	mso-number-format:Fixed;
	background:#F0F0F0;
	mso-pattern:black none;}
.xl77
	{mso-style-parent:style0;
	font-size:10.0pt;
	mso-number-format:Standard;
	background:white;
	mso-pattern:black none;}
.xl78
	{mso-style-parent:style0;
	font-size:10.0pt;
	mso-number-format:Standard;
	background:#F0F0F0;
	mso-pattern:black none;}
.xl79
	{mso-style-parent:style62;
	color:blue;
	font-size:10.0pt;
	text-decoration:underline;
	text-underline-style:single;
	background:yellow;
	mso-pattern:black none;}
.xl80
	{mso-style-parent:style0;
	font-size:10.0pt;
	mso-number-format:"dd\/mm\/yyyy";
	background:yellow;
	mso-pattern:black none;}
.xl81
	{mso-style-parent:style0;
	font-size:10.0pt;
	background:yellow;
	mso-pattern:black none;}
.xl82
	{mso-style-parent:style0;
	font-size:10.0pt;
	mso-number-format:Fixed;
	background:yellow;
	mso-pattern:black none;}
